test_report*
.pytest_cache/*
.venv
**/__pycache__
**/.pytest_cache
*.swp
*__pycache__/
.pytest_cache
*.egg-info
chalice.out
**/.chalice/deployments/
**/.chalice/venv/
venv/
.aws-sam
.idea/
.vscode
*.DS_Store
.env
assets
Infrastructure/cdk.out
creds.sh
*.html
docker*
Dockerfile*