/*
 *
 *  * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *  * SPDX-License-Identifier: MIT-0
 *
 */

@import 'assets/fonts/fonts.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: hidden;
}

div {
  display: block;
}

#root {
  height: 100%;
  width: 100%;
}